* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.form-wrapper {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  margin-top: 30px;
  border-radius: 10px;
}

.food-wrapper {
  display: flex;
  margin-top: 30px;
}

.food-item {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 15px;
  border-radius: 10px;
}
.food-item img {
  flex: 25%;
  width: 200px;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
}

.food-item .description {
  padding: 15px;
}

form input {
  width: 50%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

form button {
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
}